/*font-family: 'Bebas Neue', cursive ,sans-serif;*/
/* Css for google map integration */
/* html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    height: auto;

} */
/* 
#idea {
    font-family: 'Open Sans', sans-serif;
    background: white;
    color: black;
} */

/* .home {
    width: 100%;
    height: 100vh;
    background: url('/img/header-img.png') no-repeat;
    background-size: cover;
    background-position: center;
} */

/* .intro {
    font-family: 'Bebas Neue', cursive, sans-serif;
    position: absolute;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 120px;
    width: 362px;
    height: 120px;
    left: 0px;
    top: 320px;
    color: #ffffff;
} */

/* #intro-heading {
    font-size: larger;
}

#intro-text {
    font-size: 20px;
    font-weight: normal;
}

.landing {
    position: relative;
    color: white;
    font-family: 'Merriweather', serif
} */

/* .banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .5;
} */

/* #map {
    height: 400px;
    width: 100%;
}

header .h3 {
    line-height: 600px;
}

.header-text {
    margin-top: 50%;
    margin: auto 5%;
    align-content: center;
} */

/* #form {
    padding-top: 40px;
    text-align: center;
    padding-bottom: 20px;
    max-width: 100%;
    height: auto;
}

#form-input {
    padding-left: 25%;
} */

/* #cta {
    margin-right: 25%;
    color: #ffffff;
    background-color: #ff4301;
    font-family: 'Bebas Neue', cursive, sans-serif;
    font-size: 20px;
}

button {
    width: 14%;
} */

/* .form-section p {
    font-family: Roboto;
    font-size: 20px;
    line-height: 23px;
}

.input-style {
    max-width: 720px;
    border-radius: 5px;
} */

/* .input-style:active {
    border-color: none;
}

#advert {
    background: #e2e1e2;
    max-width: 100%;
    height: auto;
} */

/* #advert-info {
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
}

#advert-info-heading {
    font-family: 'Bebas Neue', cursive, sans-serif;
    font-size: 30px;
} */

/* #advert-info-text {
    font-family: 'Manrope', cursive, sans-serif;
}

#contact-info {
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 20px;
} */

/* #social-info {
    background: #333333;
    max-width: 100%;
    height: auto;
}

#social {
    text-align: center;
    color: #ffffff;
    font-family: 'Bebas Neue', cursive, sans-serif;
    padding-top: 40px;
    text-decoration: underline;
} */

/* #social-icons {
    display: flex;
    max-width: 100%;
    height: auto;
    padding-top: 30px;
    justify-content: space-evenly;
} */

/* @media (max-width: 426px) {

    .center-text {
        text-align: center;
    } */

/* intro */
/* .intro {
        width: 250px;
        padding-left: 5px;
    }

    #intro-heading {
        font-size: 64px;
    }

    #intro-text {
        font-size: 20px;
    } */

/* contact info */
/* #form-input {
        padding-left: 1%;
    }

    #cta {
        margin-right: 0;
    }

    button {
        width: auto;
    } */

/* contact info */
/* #advert-info {
        padding-left: 5px;
    }

    #contact-info {
        padding-left: 5px;
    } */

/* social media icons */

/* #social-icons img {
        width: 30px;
    }
}

@media (max-width: 768px) and (min-width: 426px) {
    .intro {
        padding-left: 20px;
        width: auto;
    }

    #form-input {
        padding-left: 1.5%;
    }

    #cta {
        margin-right: 0%;
    }

    #advert-info {
        padding-left: 25%;
    }

    .center-text {
        text-align: center;
    }
}

@media (max-width: 1200px) and (min-width: 768px) {

    #form-input {
        display: grid;
        justify-content: center;
        grid-template-columns: 70%;
        padding-left: 0;
    }

    #cta {
        margin-right: 0%;
        margin-left: 40%;
    }
} */
